if TARGET_RTK_ELNATH

config SYS_SOC
	default "elnath"

config CA8277B
	bool
	default y

config SYS_BOARD
	default "elnath"

config SYS_CONFIG_NAME
	default "elnath"

config SYS_TEXT_BASE
	default "0x04000000"

config IDENT_STRING
	default "ELNATH-SoC" if ARM64
	default "ELNATH-SoC-AARCH32" if !ARM64

config BOOTP_VCI_STRING
	default "U-boot.armv8.elnath"
	default "U-boot.armv7.elnath" if !ARM64

config SYS_PROMPT
	default "Elnath# "

config SYS_BOOTM_LEN
	hex
	default 0x1000000

endif
