CONFIG_ARM=y
CONFIG_TARGET_RTK_TAURUS=y
CONFIG_ENV_SIZE=0x40000
CONFIG_ENV_OFFSET=0x280000
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_CORTINA_SERIAL_NAND=y
CONFIG_NAND_HIDE_BAD=y
CONFIG_REALTEK_10G_PON=y
CONFIG_RTK_USE_ONE_UBI_DEVICE=y
CONFIG_LUNA_MULTI_BOOT=y
CONFIG_RTK_LED_STYLE_GPIO=y
CONFIG_CMD_OTP=y
# CONFIG_SYS_MALLOC_F is not set
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_FIT_BEST_MATCH=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_LAST_STAGE_INIT=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_MTD=y
CONFIG_CMD_NAND=y
CONFIG_CMD_PCI=y
# CONFIG_NET_TFTP_VARS is not set
# CONFIG_CMD_NFS is not set
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_FAT=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="ca_spinand_flash"
CONFIG_CMD_UBI=y
CONFIG_MTD_UBI_FASTMAP=y
CONFIG_MTD_UBI_FASTMAP_AUTOCONVERT=1
# CONFIG_PARTITIONS is not set
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="rtk-taurus"
CONFIG_ENV_IS_IN_NAND=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_ENV_OFFSET_REDUND=0x2C0000
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="../u-boot-env/UBOOT-2018-DEFAULT_ENV_FILE"
CONFIG_DM=y
CONFIG_BLK=y
CONFIG_DM_GPIO=y
CONFIG_CORTINA_GPIO=y
# CONFIG_MMC is not set
CONFIG_MTD=y
CONFIG_MTD_RAW_NAND=y
CONFIG_MII=y
CONFIG_NVME=y
CONFIG_PCI=y
CONFIG_DM_PCI=y
CONFIG_DM_PCI_COMPAT=y
CONFIG_PCIE_DW_RTK_TAURUS=y
CONFIG_RTK_WATCHDOG=y
# CONFIG_REGEX is not set
CONFIG_LZO=y
# CONFIG_EFI_LOADER is not set
