CONFIG_OTTO=y
CONFIG_OTTO_SNOF=y
CONFIG_TARGET_RTL9603CVD=y
CONFIG_ENV_OFFSET=0x40000
CONFIG_ENV_OFFSET_REDUND=0x42000
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_SECT_SIZE=0x2000
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_NR_DRAM_BANKS=2

CONFIG_DISPLAY_BOARDINFO=y
CONFIG_SYS_PROMPT="RTK# "
CONFIG_HUSH_PARSER=y

CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_ENV_ADDR=0x94100000
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="./board/realtek/rtl9603cvd_spi_nor_demo/UBOOT-2020-DEFAULT_ENV_FILE"
CONFIG_DM=y
CONFIG_SYS_NS16550=y
CONFIG_SPI=y
# RTK SPECIFIC SETTING
CONFIG_OTTO_FLASH_LAYOUT=y
CONFIG_LUNA_MULTI_BOOT=y
CONFIG_MULTICAST_UPGRADE=y
CONFIG_STATIC_CONFIG=y

CONFIG_LZMA=y

