# SYS
CONFIG_OTTO=y
CONFIG_ENV_SIZE=0x4000
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_SYS_LONGHELP=y
CONFIG_ENV_OFFSET=0xc0000
CONFIG_ENV_OFFSET_REDUND=0xe0000
CONFIG_SYS_TEXT_BASE=0x83C00000
CONFIG_NR_DRAM_BANKS=2
CONFIG_TARGET_VD2=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="VD2# "
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_XIMG is not set
CONFIG_CMD_UBI=y
# CONFIG_CMD_UBIFS=y
# CONFIG_PARTITIONS is not set

#
# Flash Type
#
CONFIG_OTTO_SNAF=y
CONFIG_OTTO_SNAF_GEN=3
CONFIG_OTTO_ECC_GEN=2

# ENV
CONFIG_CMD_SAVEENV=y
CONFIG_ENV_IS_IN_NAND=y
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="./board/realtek/vd2_spi_nand_demo/UBOOT-2020-DEFAULT_ENV_FILE"
CONFIG_CMD_SETEXPR=y


# UART
CONFIG_SYS_NS16550=y

# MISC
CONFIG_CMD_DHRYSTONE=y
CONFIG_LZMA=y
CONFIG_AUTO_COMPLETE=y
CONFIG_BOARD_LATE_INIT=y

# MTD
CONFIG_CMD_MTD=y
CONFIG_CMD_MTDPARTS=y # depends CONFIG_DM=y
CONFIG_DM=y
CONFIG_MTD=y
CONFIG_MTD_RAW_NAND=y
# CONFIG_RAM_ROCKCHIP_DEBUG is not set


# RTK SPECIFIC SETTING
CONFIG_OTTO_FL_TO_MTDPARTS=y
CONFIG_OTTO_FLASH_LAYOUT=y
CONFIG_RTK_USE_ONE_UBI_DEVICE=y
CONFIG_USE_BBT_SKIP=y
CONFIG_LUNA_MULTI_BOOT=y
